* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  font-family: "Lato", sans-serif !important;
  height: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}

.container {
  margin: 25px auto;
}

.margin20 {
  margin: 20px;
}

ul > li {
  position: relative;
  border: 1px solid #eee;
  min-height: 500px;
}

.heart-img,
.like-img {
  position: relative;
}

.fontlarge {
  font-size: large;
}

.search-remove {
  border: 1px solid #ededed;
  padding: 0 7px;
}

ul.list-group li {
  min-height: auto;
}
